# ========================================ENVIRONMENT========================================

# =========================================BOT===============================================
BOT_TOKEN=GET-TOKEN-FROM-BOT-FATHER
# =========================================BOT===============================================

# ==========================================DOCKER===========================================
PYTHONPATH=app
PYTHONUNBUFFERED=1
PYTHONDONTWRITEBYTECODE=1
# ==========================================DOCKER===========================================

# =========================================OPENAI============================================
OPENROUTER_API_KEY=GET-YOUR-TOKEN
OPENROUTER_URL=https://openrouter.ai/api/v1/chat/completions
# ==========================================OPENAI===========================================

# ========================================ENVIRONMENT========================================